{% extends "base.html" %}

{% block content %}

<h1>Список песен</h1>

<div class="song-cards">
    {% for song in songs %}
    <div class="song-card">
        <img src="{{ song.get_cover }}" alt="{{ song.title }} обложка" class="album-cover">
        <h2 class="song-title">{{ song.title }}</h2>
        <a class="song-author-link" href="{% url 'artist_detail' song.artist.slug %}"><p class="song-author">{{ song.artist.name }}</p></a>
        <audio controls>
            <source src="{{ song.mp3_file.url }}" type="audio/mpeg">
            Ваш браузер не поддерживает аудио.
        </audio>
    </div>
    {% empty %}
    <p>Песен пока нет.</p>
    {% endfor %}
</div>
{% endblock %}
